.userconf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-icon {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  margin: 10px;
  display: block;
}

.showps-button {
  margin: 3%;
  background-color: red;
  border-color: red;
  color: white;
}

.showps-button:hover {
  background-color: darkred;
  border-color: darkred;
}

.change-button {
  margin: 3%;
  background-color: orange;
  border-color: orange;
  color: white;
}

.change-button:hover {
  background-color: darkorange;
  border-color: darkorange;
}

.password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}