.userconf-container {
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .user-icon {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    margin: 10px; 
    display: block;
  }

 .primary-container {
  margin-top: 110px;
  margin-bottom: 120px;  
}